# Virtual environments
venv/
env/

# PyCharm files
.idea/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# any kind of reports
allure-report/
allure-results/
*.html

*.log

# screenshots
*.png
*.jpg